{
    "openapi": "3.0.2",
    "info": 
    {
        "title": "Rackspace Spot Public API",
        "version": "v1",
        "description": "The API set allows you to perform CRUD operations to interact with and manage cloudspaces, spot node pools, and on-demand node pools on Rackspace Spot.\n\nKey Concepts:\n - `Organization`:\n    - Organization is a representation as a collection of cloudspaces (Kubernetes clusters). \n\n    - Each organization has a unique name and organization ID (`namespace`) associated with it.\n    - Each organization requires setting up a separate billing account for its management.\n\n\n - `Namespace`: \n \n    - The namespace is a representation to identify any organization in Spot Platform. \n    - Each organization has a unique namespace associated with it. \n\n    - The namespace is used to scope resources and operations within the Spot platform. \n    - Each namespace start with `org-`.\n    - To obtain desired namespace, leverage API: <a href=\"/rackspace-spot-public-api#helper-getorganizationslist\" style=\"color: red;\">list all organizations</a> to retrieve the details of all organizations, including their associated namespaces.\n\n\n- `Cloudspace`:\n  - Cloudspace is a representation of a Kubernetes cluster in your namespace.\n\n  - Each cloudspace is associated with a specific region and will contain SpotNodePool and OnDemandNodePool for storing servers bidded on platform.\n\n\n- `SpotNodePools` and `OnDemandNodePools`: \n    - The SpotNodePools and OnDemandNodePools are nodepools that will contain servers that users have bidded for. \n\n    - When creating the SpotNodePools and OnDemandNodePools, cloudspace should already be created.\n    - Billing should be enabled in your organization for the SpotNodePools and OnDemandNodePools to be created.\n\nAlmost all API calls require an Oauth Access Token. Refer <a href=\"/rackspace-spot-public-api#authentication\" style=\"color: red;\">authentication.</a> section to obtain the Oauth Access Token.\n\nThere are some operations which does not require any oauth token for getting response. They are indicated by `(unauthenticated api)` in the operation summary.\n\nThe unauthenticated api operations are:\n  - Oauth Token\n  - Kubeconfig generation\n  - Price History\n  - Percentile information\n  - Market Price Capacity"
    },
    "servers": 
    [
        {
            "url": "https://spot.rackspace.com"
        }
    ],
    "paths": 
    {
        "/oauth/token": 
        {
            "post": 
            {
                "requestBody": 
                {
                    "content": 
                    {
                        "application/x-www-form-urlencoded": 
                        {
                            "schema": 
                            {
                                "type": "object",
                                "properties": 
                                {
                                    "grant_type": 
                                    {
                                        "description": "The type of grant needed. Use the literal string `refresh_token` as its value to obtain a new access token in response.",
                                        "default": "refresh_token",
                                        "type": "string"
                                    },
                                    "client_id": 
                                    {
                                        "description": "Use `mwG3lUMV8KyeMqHe4fJ5Bb3nM1vBvRNa` as client_id in request parameter when requesting for access token.",
                                        "default": "mwG3lUMV8KyeMqHe4fJ5Bb3nM1vBvRNa",
                                        "type": "string"
                                    },
                                    "refresh_token": 
                                    {
                                        "description": "Obtain a Refresh Token from the API: <a href=\"https://spot.rackspace.com/ui/api-access/terraform\" style=\"color: red;\">Rackspace Spot Console</a>. and use it here as request parameter.\n\nSteps:\n - Log in to the Rackspace Spot Console.\n\n - In the dashboard's sidebar, navigate to API Access > Terraform.\n\n - Click Get New Token to generate a refresh token.\n\n - Use the refresh token obtained as a parameter in your request.",
                                        "default": "<Enter_refresh_token_here>",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "servers": 
                [
                    {
                        "url": "https://login.spot.rackspace.com",
                        "description": "Rackspace OAuth API server"
                    }
                ],
                "tags": 
                [
                    "Oauth Token"
                ],
                "parameters": 
                [
                    {
                        "name": "Content-Type",
                        "description": "Must be set to `application/x-www-form-urlencoded` for the request to be processed correctly.",
                        "schema": 
                        {
                            "default": "application/x-www-form-urlencoded",
                            "type": "string"
                        },
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "type": "object",
                                    "properties": 
                                    {
                                        "access_token": 
                                        {
                                            "description": "Access token issued by the authorization server.",
                                            "type": "string",
                                            "example": "eyJz93a...k4laUWw"
                                        },
                                        "id_token": 
                                        {
                                            "description": "ID token representing the authenticated user.",
                                            "type": "string",
                                            "example": "eyJhbGci...jsdfsdfs"
                                        },
                                        "scope": 
                                        {
                                            "description": "Scopes that were granted by the user.",
                                            "type": "string",
                                            "example": "openid profile email offline_access"
                                        },
                                        "expires_in": 
                                        {
                                            "description": "Time in seconds until the access token expires.",
                                            "type": "integer",
                                            "example": 86400
                                        },
                                        "token_type": 
                                        {
                                            "description": "The type of token issued.",
                                            "type": "string",
                                            "example": "Bearer"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Successfully retrieved OAuth token. Take `id_token` value from response as Oauth access token value for all authorization API calls."
                    },
                    "401": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "type": "object",
                                    "properties": 
                                    {
                                        "error": 
                                        {
                                            "description": "Error code indicating the reason for failure.",
                                            "type": "string",
                                            "example": "access_denied"
                                        },
                                        "error_description": 
                                        {
                                            "description": "Human-readable description of the error.",
                                            "type": "string",
                                            "example": "Unauthorized"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Unauthorized request. Please provide valid refresh token."
                    },
                    "500": 
                    {
                        "description": "Unexpected error"
                    }
                },
                "deprecated": false,
                "security": 
                [
                    {
                    }
                ],
                "operationId": "getoauthtoken",
                "summary": "Get OAuth token (unauthenticated api)",
                "description": "Retrieve an OAuth Access token for specified a refresh token. Take `id_token` value from **response** as Oauth access token value for all subsequent authorization API calls."
            }
        },
        "/apis/auth.ngpc.rxt.io/v1/generate-kubeconfig": {
            "post": {
                "summary": "Generate kubeconfig (unauthenticated API)",
                "description": "Generates a kubeconfig file for the specified organization and cloudspace using a refresh token. It is unauthenticated api, so doesn't require API token in headers when calling it.",
                "tags": [
                "Kubeconfig generation"
                ],
                "requestBody": {
                "required": true,
                "content": {
                    "application/json": {
                    "schema": {
                        "type": "object",
                        "required": [
                        "organization_name",
                        "cloudspace_name",
                        "refresh_token"
                        ],
                        "properties": {
                        "organization_name": {
                            "type": "string",
                            "description": "Name of the organization for which kubeconfig is to be generated.",
                            "example": "my-org"
                        },
                        "cloudspace_name": {
                            "type": "string",
                            "description": "Name of the cloudspace belonging to the organization.",
                            "example": "my-cloudspace"
                        },
                        "refresh_token": {
                            "type": "string",
                            "description": "Refresh token obtained via UI authentication.",
                            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6..."
                        }
                        }
                    }
                    }
                }
                },
                "responses": {
                "200": {
                    "description": "Kubeconfig generated successfully.",
                    "content": {
                    "application/json": {
                        "schema": {
                        "type": "object",
                        "properties": {
                            "data": {
                            "type": "object",
                            "properties": {
                                "kubeconfig": {
                                "type": "string",
                                "description": "Full kubeconfig YAML as a string.",
                                "example": "apiVersion: v1\nclusters:\n- cluster:\n    insecure-skip-tls-verify: true\n    server: https://<cluster-api-server>\n  name: <cluster-name>\ncontexts:\n- context:\n    cluster: <cluster-name>\n    namespace: default\n    user: <user-name>\n  name: <context-name>\ncurrent-context: <context-name>\nkind: Config\npreferences: {}\nusers:\n- name: <user-name>\n  user:\n    token: <jwt-token>\n- name: oidc\n  user:\n    exec:\n      apiVersion: client.authentication.k8s.io/v1beta1\n      command: kubectl\n      args:\n        - oidc-login\n        - get-token\n        - --oidc-issuer-url=https://<issuer-url>/\n        - --oidc-client-id=<client-id>\n        - --oidc-extra-scope=openid\n        - --oidc-extra-scope=profile\n        - --oidc-extra-scope=email\n        - --oidc-auth-request-extra-params=organization=<org-id>\n        - --token-cache-dir=~/.kube/cache/oidc-login/<org-id>\n      provideClusterInfo: false\n      interactiveMode: IfAvailable"
                                }
                            }
                            },
                            "message": {
                            "type": "string",
                            "example": "kubeconfig generated successfully"
                            },
                            "status_code": {
                            "type": "integer",
                            "example": 200
                            }
                        }
                        }
                    }
                    }
                },
                "400": {
                    "description": "Bad request. Input parameter is missing or invalid.",
                    "content": {
                    "application/json": {
                        "schema": {
                        "type": "object",
                        "properties": {
                            "error": {
                            "type": "string",
                            "example": "bad_request"
                            },
                            "error_description": {
                            "type": "string",
                            "example": "Missing or invalid refresh_token."
                            }
                        }
                        }
                    }
                    }
                },
                "401": {
                    "description": "Unauthorized. The refresh token is invalid or expired.",
                    "content": {
                    "application/json": {
                        "schema": {
                        "type": "object",
                        "properties": {
                            "error": {
                            "type": "string",
                            "example": "access_denied"
                            },
                            "error_description": {
                            "type": "string",
                            "example": "Invalid or expired refresh token."
                            }
                        }
                        }
                    }
                    }
                }
                },
                "deprecated": false,
                "security": 
                [
                    {
                    }
                ],
                "operationId": "generateKubeconfig"
            }
        },
        "/apis/ngpc.rxt.io/v1/regions": 
        {
            "description": "API to get all available regions.",
            "get": 
            {
                "tags": 
                [
                    "Region"
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.RegionList"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.RegionList"
                                }
                            }
                        },
                        "description": "Regions obtained successfully"
                    },
                    "401": 
                    {
                        "description": "Unauthorized access"
                    }
                },
                "deprecated": false,
                "operationId": "getregion",
                "summary": "Get all regions",
                "description": "List objects of kind Region to provide all available regions.",
                "x-kubernetes-action": "list",
                "x-kubernetes-group-version-kind": 
                {
                    "group": "ngpc.rxt.io",
                    "kind": "Region",
                    "version": "v1"
                }
            }
        },
        "/apis/ngpc.rxt.io/v1/regions/{name}": 
        {
            "get": 
            {
                "tags": 
                [
                    "Region by name"
                ],
                "parameters": 
                [
                    {
                        "name": "name",
                        "description": "Use a valid Region name. Some available regions are:\n  - us-central-dfw-2\n  - us-east-iad-1\n  - eu-west-lon-1\n  - uk-lon-1\n  - us-west-sjc-1\n  - us-central-ord-1\n  - us-central-dfw-1\n\nTo get more information on available regions, refer to the regions endpoint:\n \n<a href=\"/rackspace-spot-public-api#getregion\" style=\"color: red;\">**Regions**</a>.",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.Region"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.Region"
                                }
                            }
                        },
                        "description": "Specific Region obtained successfully"
                    },
                    "401": 
                    {
                        "description": "Unauthorized access"
                    }
                },
                "deprecated": false,
                "operationId": "readNgpcRxtIoV1Region",
                "summary": "Get region by name",
                "description": "Get the specified Region.",
                "x-kubernetes-action": "get",
                "x-kubernetes-group-version-kind": 
                {
                    "group": "ngpc.rxt.io",
                    "kind": "Region",
                    "version": "v1"
                }
            }
        },
        "/apis/ngpc.rxt.io/v1/serverclasses": 
        {
            "get": 
            {
                "tags": 
                [
                    "Serverclass"
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.ServerClassList"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.ServerClassList"
                                }
                            }
                        },
                        "description": "Serverclasses obtained successfully"
                    },
                    "401": 
                    {
                        "description": "Unauthorized access"
                    }
                },
                "deprecated": false,
                "operationId": "getserverclass",
                "summary": "Get all serverclasses",
                "description": "List objects of kind ServerClass to provide all available serverclasses.",
                "x-kubernetes-action": "list",
                "x-kubernetes-group-version-kind": 
                {
                    "group": "ngpc.rxt.io",
                    "kind": "ServerClass",
                    "version": "v1"
                }
            }
        },
        "/apis/ngpc.rxt.io/v1/serverclasses/{name}": 
        {
            "get": 
            {
                "tags": 
                [
                    "Serverclass by name"
                ],
                "parameters": 
                [
                    {
                        "name": "name",
                        "description": "Use a valid Serverclass name. Some available serverclasses are:\n  - gp.vs1.medium-dfw\n  - gp.vs1.small-dfw\n  - mh.vs1.large-dfw\n  - mh.vs1.xlarge-dfw\n  - ch.vs1.medium-dfw\n  - gp.bm2.large-dfw\n  - mh.vs1.medium-dfw\n  - gp.bm2.medium-dfw\n  - mh.vs1.2xlarge-dfw\n  - mh.vs1.2xlarge-iad\n  - gp.vs1.2xlarge-lon\n  - gp.vs1.xlarge-lon\n  - ch.vs1.xlarge-iad\n  - gp.bm2.medium-lon\n  - ch.vs1.medium-iad\n  - gp.bm2.small-lon\n  - ch.vs1.2xlarge-iad\n  - mh.vs1.xlarge-iad\n  - mh.vs1.large-iad\n  - ch.vs1.large-lon\n  - gp.bm2.large-lon\n  - mh.vs1.2xlarge-lon\n  - ch.vs1.large-iad\n  - gp.bm2.small-iad\n  - ch.vs1.2xlarge-lon\n  - ch.vs1.medium-lon\n  - mh.vs1.medium-lon\n  - mh.vs1.large-lon\n  - mh.vs1.xlarge-lon\n  - gp.vs1.small-iad\n  - ch.vs1.xlarge-lon\n  - io.bm2-lon\n  - io.bm2-iad\n  - gp.vs1.large-lon\n  - ch.vs1.2xlarge-dfw\n  - ch.vs1.xlarge-dfw\n  - gp.vs1.2xlarge-iad\n  - mh.vs1.medium-iad\n  - gp.vs1.large-iad\n  - gp.vs1.large-dfw\n  - ch.vs1.large-dfw\n  - gp.vs1.medium-lon\n  - gp.vs1.xlarge-dfw\n  - gp.vs1.medium-iad\n  - gp.vs1.xlarge-iad\n\n\nTo get more information on available serverclasses, refer to the serverclasses endpoint: <a href=\"/rackspace-spot-public-api#getserverclass\" style=\"color: red;\">**ServerClasses**</a>. ",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.ServerClass"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.ServerClass"
                                }
                            }
                        },
                        "description": "Specific Serverclass obtained successfully"
                    },
                    "401": 
                    {
                        "description": "Unauthorized access"
                    }
                },
                "deprecated": false,
                "operationId": "readNgpcRxtIoV1ServerClass",
                "summary": "Get serverclass by name",
                "description": "Read the specified ServerClass",
                "x-kubernetes-action": "get",
                "x-kubernetes-group-version-kind": 
                {
                    "group": "ngpc.rxt.io",
                    "kind": "ServerClass",
                    "version": "v1"
                }
            }
        },
        "/apis/auth.ngpc.rxt.io/v1/organizations": 
        {
            "get": 
            {
                "tags": 
                [
                    "Organization API"
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "type": "object",
                                    "properties": 
                                    {
                                        "start": 
                                        {
                                            "description": "Starting index for pagination.",
                                            "type": "integer"
                                        },
                                        "limit": 
                                        {
                                            "description": "Limit for the number of items per page.",
                                            "type": "integer"
                                        },
                                        "length": 
                                        {
                                            "description": "Number of organizations in the response.",
                                            "type": "integer"
                                        },
                                        "total": 
                                        {
                                            "description": "Total number of organizations available.",
                                            "type": "integer"
                                        },
                                        "next": 
                                        {
                                            "description": "URL for the next page of results (if available).",
                                            "type": "string"
                                        },
                                        "organizations": 
                                        {
                                            "type": "array",
                                            "items": 
                                            {
                                                "type": "object",
                                                "properties": 
                                                {
                                                    "id": 
                                                    {
                                                        "description": "The unique ID of the organization.",
                                                        "type": "string"
                                                    },
                                                    "name": 
                                                    {
                                                        "description": "The name of the organization.",
                                                        "type": "string"
                                                    },
                                                    "display_name": 
                                                    {
                                                        "description": "The display name of the organization.",
                                                        "type": "string"
                                                    },
                                                    "metadata": 
                                                    {
                                                        "type": "object",
                                                        "properties": 
                                                        {
                                                            "namespace": 
                                                            {
                                                                "description": "The namespace associated with the organization.",
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Successfully retrieved the list of organizations and namespaces."
                    },
                    "400": 
                    {
                        "description": "Bad Request."
                    },
                    "401": 
                    {
                        "description": "Unauthorized."
                    },
                    "500": 
                    {
                        "description": "Internal Server Error. An unexpected error occurred while processing the request."
                    }
                },
                "deprecated": false,
                "operationId": "helper-getorganizationslist",
                "summary": "List all organizations",
                "description": "List all organizations along with their details, including the associated namespaces."
            }
        },
        "/apis/ngpc.rxt.io/v1/namespaces/{namespace}/cloudspaces": 
        {
            "get": 
            {
                "tags": 
                [
                    "Cloudspace"
                ],
                "parameters": 
                [
                    {
                        "name": "namespace",
                        "description": "The namespace to which the Cloudspace belongs to. Desired namespace value can be obtained by calling api:  <a href=\"/rackspace-spot-public-api#helper-getorganizationslist\" style=\"color: red;\">**list of organizations**</a>. ",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.CloudSpaceList"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.CloudSpaceList"
                                }
                            }
                        },
                        "description": "CloudSpaces obtained successfully."
                    },
                    "401": 
                    {
                        "description": "Unauthorized access."
                    }
                },
                "deprecated": false,
                "operationId": "listNgpcRxtIoV1NamespacedCloudSpace",
                "summary": "Get all cloudspaces",
                "description": "Retrieve all CloudSpaces from the specified namespace.",
                "x-kubernetes-action": "list",
                "x-kubernetes-group-version-kind": 
                {
                    "group": "ngpc.rxt.io",
                    "kind": "CloudSpace",
                    "version": "v1"
                }
            },
            "post": 
            {
                "requestBody": 
                {
                    "description": "- Use value for `apiVersion` as `ngpc.rxt.io/v1`.\n- Use value for `kind` as `CloudSpace`.\n- In the `metadata` object:\n  - Enter a value for the `name` field to name your CloudSpace.\n\n  - Select the `namespace` in which the CloudSpace should be created. \n    This should match the `namespace` used in the path parameter above.\n\n  - `creationTimestamp` and `deletionTimestamp`: Represents timestamp for cloudspace creation. Leave it as default only.\n\n- In the `spec` object:\n\n  - Provide the `region` from the list returned by the Regions API.\n\n  - Enter the `webhook` URL (Slack channel webhook) to receive node preemption event notifications.\n\n  - Choose the `kubernetesVersion` for your CloudSpace.\n    Currently available versions are:\n    - **1.31.1(latest)**\n    - **1.30.10**\n    - **1.29.6**\n\n  - You can leave `cloud`, `cni`, and `HAControlPlane` fields as default unless custom values are needed.",
                    "content": 
                    {
                        "application/json": 
                        {
                            "schema": 
                            {
                                "$ref": "#/components/schemas/io.rxt.ngpc.v1.CloudSpace"
                            }
                        },
                        "application/yaml": 
                        {
                            "schema": 
                            {
                                "$ref": "#/components/schemas/io.rxt.ngpc.v1.CloudSpace"
                            }
                        }
                    },
                    "required": true
                },
                "tags": 
                [
                    "Cloudspace",
                    "Cloudspace by name"
                ],
                "parameters": 
                [
                    {
                        "name": "namespace",
                        "description": "The namespace to which the Cloudspace belongs to. Desired namespace value can be obtained by calling api:  <a href=\"/rackspace-spot-public-api#helper-getorganizationslist\" style=\"color: red;\">**list of organizations**</a>. ",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.CloudSpace"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.CloudSpace"
                                }
                            }
                        },
                        "description": "CloudSpace creation request submitted successfully."
                    },
                    "201": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.CloudSpace"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.CloudSpace"
                                }
                            }
                        },
                        "description": "CloudSpace created successfully."
                    },
                    "202": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.CloudSpace"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.CloudSpace"
                                }
                            }
                        },
                        "description": "CloudSpace creation request accepted successfully."
                    },
                    "401": 
                    {
                        "description": "Unauthorized access."
                    }
                },
                "deprecated": false,
                "operationId": "createNgpcRxtIoV1NamespacedCloudSpace",
                "summary": "Create cloudspace",
                "description": "Create a CloudSpace in the specified namespace.",
                "x-kubernetes-action": "post",
                "x-kubernetes-group-version-kind": 
                {
                    "group": "ngpc.rxt.io",
                    "kind": "CloudSpace",
                    "version": "v1"
                },
                "x-codegen-request-body-name": "body"
            },
            "delete": 
            {
                "tags": 
                [
                    "Cloudspace"
                ],
                "parameters": 
                [
                    {
                        "name": "namespace",
                        "description": "The namespace to which the Cloudspace belongs to. Desired namespace value can be obtained by calling api:  <a href=\"/rackspace-spot-public-api#helper-getorganizationslist\" style=\"color: red;\">**list of organizations**</a>. ",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
                                }
                            }
                        },
                        "description": "CloudSpaces deleted successfully."
                    },
                    "401": 
                    {
                        "description": "Unauthorized access."
                    }
                },
                "deprecated": false,
                "operationId": "deleteNgpcRxtIoV1CollectionNamespacedCloudSpace",
                "summary": "Delete all cloudspaces",
                "description": "Delete CloudSpaces from the specified namespace.",
                "x-kubernetes-action": "deletecollection",
                "x-kubernetes-group-version-kind": 
                {
                    "group": "ngpc.rxt.io",
                    "kind": "CloudSpace",
                    "version": "v1"
                }
            }
        },
        "/apis/ngpc.rxt.io/v1/namespaces/{namespace}/cloudspaces/{name}": 
        {
            "get": 
            {
                "tags": 
                [
                    "Cloudspace by name"
                ],
                "parameters": 
                [
                    {
                        "name": "name",
                        "description": "CloudSpace Name",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "namespace",
                        "description": "The namespace to which the Cloudspace belongs to. Desired namespace value can be obtained by calling api:  <a href=\"/rackspace-spot-public-api#helper-getorganizationslist\" style=\"color: red;\">**list of organizations**</a>. ",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.CloudSpace"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.CloudSpace"
                                }
                            }
                        },
                        "description": "Specific CloudSpace obtained successfully."
                    },
                    "401": 
                    {
                        "description": "Unauthorized access."
                    }
                },
                "deprecated": false,
                "operationId": "readNgpcRxtIoV1NamespacedCloudSpace",
                "summary": "Get cloudspace by name",
                "description": "Retrieves the details of a CloudSpace by its name from the specified namespace.",
                "x-kubernetes-action": "get",
                "x-kubernetes-group-version-kind": 
                {
                    "group": "ngpc.rxt.io",
                    "kind": "CloudSpace",
                    "version": "v1"
                }
            },
            "delete": 
            {
                "tags": 
                [
                    "Cloudspace by name"
                ],
                "parameters": 
                [
                    {
                        "name": "name",
                        "description": "name of the CloudSpace",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "namespace",
                        "description": "TThe namespace to which the Cloudspace belongs to. Desired namespace value can be obtained by calling api:  <a href=\"/rackspace-spot-public-api#helper-getorganizationslist\" style=\"color: red;\">**list of organizations**</a>. ",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
                                }
                            }
                        },
                        "description": "Specific CloudSpace deletion request submitted successfully."
                    },
                    "202": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
                                }
                            }
                        },
                        "description": "Specific CloudSpace deletion request accepted successfully."
                    },
                    "401": 
                    {
                        "description": "Unauthorized access."
                    }
                },
                "deprecated": false,
                "operationId": "deleteNgpcRxtIoV1NamespacedCloudSpace",
                "summary": "Delete cloudspace by name",
                "description": "Delete a CloudSpace by its name from the specified namespace.",
                "x-kubernetes-action": "delete",
                "x-kubernetes-group-version-kind": 
                {
                    "group": "ngpc.rxt.io",
                    "kind": "CloudSpace",
                    "version": "v1"
                }
            },
            "patch": 
            {
                "requestBody": 
                {
                    "description": "This endpoint allows you to perform operations on the cloudspace configuration.\n  - `op`: Represents the operation to be performed. \n    - `add`: Adds a new field or value at the specified `path` in spec section of object.\n    - `replace`: Replaces the existing value at the specified `path` in spec section of object.\n  - `path`: Specifies the location within the object where the operation should be applied.\n    - For example, to add a new field, use **/spec/newField**.\n    - To replace an existing field, use **/spec/existingField**.\n  - `value`: Represents the data to be added or replaced at the specified path.",
                    "content": 
                    {
                        "application/json-patch+json": 
                        {
                            "schema": 
                            {
                                "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"
                            }
                        },
                        "application/merge-patch+json": 
                        {
                            "schema": 
                            {
                                "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"
                            }
                        },
                        "application/apply-patch+yaml": 
                        {
                            "schema": 
                            {
                                "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"
                            }
                        }
                    },
                    "required": true
                },
                "tags": 
                [
                    "Cloudspace by name"
                ],
                "parameters": 
                [
                    {
                        "name": "name",
                        "description": "name of the CloudSpace",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "namespace",
                        "description": "The namespace to which the Cloudspace belongs to. Desired namespace value can be obtained by calling api:  <a href=\"/rackspace-spot-public-api#helper-getorganizationslist\" style=\"color: red;\">**list of organizations**</a>. ",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.CloudSpace"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.CloudSpace"
                                }
                            }
                        },
                        "description": "CloudSpace updated successfully."
                    },
                    "401": 
                    {
                        "description": "Unauthorized access."
                    }
                },
                "deprecated": false,
                "operationId": "patchNgpcRxtIoV1NamespacedCloudSpace",
                "summary": "Edit cloudspace by name",
                "description": "Update a CloudSpace by its name from the specified namespace.",
                "x-kubernetes-action": "patch",
                "x-kubernetes-group-version-kind": 
                {
                    "group": "ngpc.rxt.io",
                    "kind": "CloudSpace",
                    "version": "v1"
                },
                "x-codegen-request-body-name": "body"
            }
        },
        "/apis/ngpc.rxt.io/v1/namespaces/{namespace}/spotnodepools": 
        {
            "get": 
            {
                "tags": 
                [
                    "SpotNodePool"
                ],
                "parameters": 
                [
                    {
                        "name": "namespace",
                        "description": "The namespace to which the SpotNodePool belongs to. Desired namespace value can be obtained by calling api:  <a href=\"/rackspace-spot-public-api#helper-getorganizationslist\" style=\"color: red;\">**list of organizations**</a>. ",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.SpotNodePoolList"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.SpotNodePoolList"
                                }
                            }
                        },
                        "description": "SpotNodePools obtained successfully."
                    },
                    "401": 
                    {
                        "description": "Unauthorized access."
                    }
                },
                "deprecated": false,
                "operationId": "listNgpcRxtIoV1NamespacedSpotNodePool",
                "summary": "Get all spotnodepools",
                "description": "Retrieve all SpotNodePools from the specified namespace.",
                "x-kubernetes-action": "list",
                "x-kubernetes-group-version-kind": 
                {
                    "group": "ngpc.rxt.io",
                    "kind": "SpotNodePool",
                    "version": "v1"
                }
            },
            "post": 
            {
                "requestBody": 
                {
                    "description": "- Use value for `apiVersion` as `ngpc.rxt.io/v1`.\n- Use value for `kind` as `SpotNodePool`.\n- In the `metadata` object:\n  - Enter a value for the `name` field in the `metadata` object to name your SpotNodePool.\n    The name must be a `lowercase UUID` only.\n\n  - Select the `namespace` in which the SpotNodePool should be created. \n    This should match the `namespace` used in the path parameter above.\n\n  - `creationTimestamp` and `deletionTimestamp`: Represents timestamp for SpotNodePool creation. Leave it as default only.\n\n- In the `spec` object:\n\n  - `autoscaling`: Configure autoscaling settings.\n\n    - `enabled`: Set whether autoscaling is enabled. (e.g., true or false)\n\n    - `maxNodes`: The maximum number of nodes allowed when autoscaling is enabled.\n    - `minNodes`: The minimum number of nodes required when autoscaling is enabled.\n\n  - `bidPrice`: Define the bid price to bid for the spot servers (instances).\n  - `cloudSpace`: Specify the name of your cloudspace in which SpotNodePool should be created.\n  - `desired`: The desired number of resources (nodes) to be provisioned.\n  - `serverClass`: Specify the Serverclass type for the cloudspace. Refer to Serverclass api for available serverclasses.",
                    "content": 
                    {
                        "application/json": 
                        {
                            "schema": 
                            {
                                "$ref": "#/components/schemas/io.rxt.ngpc.v1.SpotNodePool"
                            }
                        },
                        "application/yaml": 
                        {
                            "schema": 
                            {
                                "$ref": "#/components/schemas/io.rxt.ngpc.v1.SpotNodePool"
                            }
                        }
                    },
                    "required": true
                },
                "tags": 
                [
                    "SpotNodePool",
                    "SpotNodePool by name"
                ],
                "parameters": 
                [
                    {
                        "name": "namespace",
                        "description": "The namespace to which the SpotNodePool belongs to. Desired namespace value can be obtained by calling api:  <a href=\"/rackspace-spot-public-api#helper-getorganizationslist\" style=\"color: red;\">**list of organizations**</a>. ",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.SpotNodePool"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.SpotNodePool"
                                }
                            }
                        },
                        "description": "SpotNodePool creation request submitted successfully."
                    },
                    "201": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.SpotNodePool"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.SpotNodePool"
                                }
                            }
                        },
                        "description": "SpotNodePool created successfully."
                    },
                    "202": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.SpotNodePool"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.SpotNodePool"
                                }
                            }
                        },
                        "description": "SpotNodePool creation request accepted successfully."
                    },
                    "401": 
                    {
                        "description": "Unauthorized access."
                    }
                },
                "deprecated": false,
                "operationId": "createNgpcRxtIoV1NamespacedSpotNodePool",
                "summary": "Create spotnodepool",
                "description": "Create a SpotNodePool in the specified namespace.",
                "x-kubernetes-action": "post",
                "x-kubernetes-group-version-kind": 
                {
                    "group": "ngpc.rxt.io",
                    "kind": "SpotNodePool",
                    "version": "v1"
                },
                "x-codegen-request-body-name": "body"
            },
            "delete": 
            {
                "tags": 
                [
                    "SpotNodePool"
                ],
                "parameters": 
                [
                    {
                        "name": "namespace",
                        "description": "The namespace to which the SpotNodePool belongs to. Desired namespace value can be obtained by calling api:  <a href=\"/rackspace-spot-public-api#helper-getorganizationslist\" style=\"color: red;\">**list of organizations**</a>. ",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
                                }
                            }
                        },
                        "description": "SpotNodePools deleted successfully."
                    },
                    "401": 
                    {
                        "description": "Unauthorized access."
                    }
                },
                "deprecated": false,
                "operationId": "deleteNgpcRxtIoV1CollectionNamespacedSpotNodePool",
                "summary": "Delete all spotnodepools",
                "description": "Delete all SpotNodePools from the specified namespace.",
                "x-kubernetes-action": "deletecollection",
                "x-kubernetes-group-version-kind": 
                {
                    "group": "ngpc.rxt.io",
                    "kind": "SpotNodePool",
                    "version": "v1"
                }
            }
        },
        "/apis/ngpc.rxt.io/v1/namespaces/{namespace}/spotnodepools/{name}": 
        {
            "get": 
            {
                "tags": 
                [
                    "SpotNodePool by name"
                ],
                "parameters": 
                [
                    {
                        "name": "name",
                        "description": "SpotNodePool name, must be a lowercase UUID.",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "namespace",
                        "description": "The namespace to which the SpotNodePool belongs to. Desired namespace value can be obtained by calling api:  <a href=\"/rackspace-spot-public-api#helper-getorganizationslist\" style=\"color: red;\">**list of organizations**</a>. ",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.SpotNodePool"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.SpotNodePool"
                                }
                            }
                        },
                        "description": "Specific SpotNodePool obtained successfully."
                    },
                    "401": 
                    {
                        "description": "Unauthorized access."
                    }
                },
                "deprecated": false,
                "operationId": "readNgpcRxtIoV1NamespacedSpotNodePool",
                "summary": "Get spotnodepool by name",
                "description": "Retrieves the details of a SpotNodePool by its name from the specified namespace.",
                "x-kubernetes-action": "get",
                "x-kubernetes-group-version-kind": 
                {
                    "group": "ngpc.rxt.io",
                    "kind": "SpotNodePool",
                    "version": "v1"
                }
            },
            "delete": 
            {
                "tags": 
                [
                    "SpotNodePool by name"
                ],
                "parameters": 
                [
                    {
                        "name": "name",
                        "description": "SpotNodePool name, must be a lowercase UUID.",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "namespace",
                        "description": "The namespace to which the SpotNodePool belongs to. Desired namespace value can be obtained by calling api:  <a href=\"/rackspace-spot-public-api#helper-getorganizationslist\" style=\"color: red;\">**list of organizations**</a>. ",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
                                }
                            }
                        },
                        "description": "Specific SpotNodePool deletion request submitted successfully."
                    },
                    "202": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
                                }
                            }
                        },
                        "description": "Specific SpotNodePool deletion request accepted successfully."
                    },
                    "401": 
                    {
                        "description": "Unauthorized access"
                    }
                },
                "deprecated": false,
                "operationId": "deleteNgpcRxtIoV1NamespacedSpotNodePool",
                "summary": "Delete spotnodepool by name",
                "description": "Delete a SpotNodePool by its name from the specified namespace.",
                "x-kubernetes-action": "delete",
                "x-kubernetes-group-version-kind": 
                {
                    "group": "ngpc.rxt.io",
                    "kind": "SpotNodePool",
                    "version": "v1"
                }
            },
            "patch": 
            {
                "requestBody": 
                {
                    "description": "This endpoint allows you to perform operations on the SpotNodePool configuration.\n  - `op`: Represents the operation to be performed. \n    - `add`: Adds a new field or value at the specified `path` in spec section of object.\n    - `replace`: Replaces the existing value at the specified `path` in spec section of object.\n  - `path`: Specifies the location within the object where the operation should be applied.\n    - For example, to add a new field, use **/spec/newField**.\n    - To replace an existing field, use **/spec/existingField**.\n  - `value`: Represents the data to be added or replaced at the specified path.",
                    "content": 
                    {
                        "application/json-patch+json": 
                        {
                            "schema": 
                            {
                                "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"
                            }
                        },
                        "application/merge-patch+json": 
                        {
                            "schema": 
                            {
                                "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"
                            }
                        },
                        "application/apply-patch+yaml": 
                        {
                            "schema": 
                            {
                                "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"
                            }
                        }
                    },
                    "required": true
                },
                "tags": 
                [
                    "SpotNodePool by name"
                ],
                "parameters": 
                [
                    {
                        "name": "name",
                        "description": "SpotNodePool name, must be a lowercase UUID.",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "namespace",
                        "description": "The namespace to which the SpotNodePool belongs to. Desired namespace value can be obtained by calling api:  <a href=\"/rackspace-spot-public-api#helper-getorganizationslist\" style=\"color: red;\">**list of organizations**</a>. ",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.SpotNodePool"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.SpotNodePool"
                                }
                            }
                        },
                        "description": "SpotNodePool updated successfully."
                    },
                    "401": 
                    {
                        "description": "Unauthorized access."
                    }
                },
                "deprecated": false,
                "operationId": "patchNgpcRxtIoV1NamespacedSpotNodePool",
                "summary": "Edit spotnodepool by name",
                "description": "Update a SpotNodePool by its name from the specified namespace.",
                "x-kubernetes-action": "patch",
                "x-kubernetes-group-version-kind": 
                {
                    "group": "ngpc.rxt.io",
                    "kind": "SpotNodePool",
                    "version": "v1"
                },
                "x-codegen-request-body-name": "body"
            }
        },
        "/apis/ngpc.rxt.io/v1/namespaces/{namespace}/ondemandnodepools": 
        {
            "get": 
            {
                "tags": 
                [
                    "OnDemandNodePool"
                ],
                "parameters": 
                [
                    {
                        "name": "namespace",
                        "description": "The namespace to which the OnDemandNodePool belongs to. Desired namespace value can be obtained by calling api:  <a href=\"/rackspace-spot-public-api#helper-getorganizationslist\" style=\"color: red;\">**list of organizations**</a>. ",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.OnDemandNodePoolList"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.OnDemandNodePoolList"
                                }
                            }
                        },
                        "description": "OnDemandNodePools obtained successfully."
                    },
                    "401": 
                    {
                        "description": "Unauthorized access."
                    }
                },
                "deprecated": false,
                "operationId": "listNgpcRxtIoV1NamespacedOnDemandNodePool",
                "summary": "Get all ondemandnodepools",
                "description": "Retrieve all OnDemandNodePools from the specified namespace.",
                "x-kubernetes-action": "list",
                "x-kubernetes-group-version-kind": 
                {
                    "group": "ngpc.rxt.io",
                    "kind": "OnDemandNodePool",
                    "version": "v1"
                }
            },
            "post": 
            {
                "requestBody": 
                {
                    "description": "- Use value for `apiVersion` as `ngpc.rxt.io/v1`.\n- Use value for `kind` as `OnDemandNodePool`.\n- In the `metadata` object:\n  - Enter a value for the `name` field in the `metadata` object to name your OnDemandNodePool.\n    The name must be a `lowercase UUID` only.\n\n  - Select the `namespace` in which the OnDemandNodePool should be created. \n    This should match the `namespace` used in the path parameter above.\n\n  - `creationTimestamp` and `deletionTimestamp`: Represents timestamp for SpotNodePool creation. Leave it as default only.\n\n- In the `spec` object:\n  - `cloudSpace`: Specify the name of your cloudspace in which SpotNodePool should be created.\n\n  - `desired`: The desired number of resources (nodes) to be provisioned.\n  - `serverClass`: Specify the Serverclass type for the cloudspace. Refer to Serverclass api for available serverclasses.",
                    "content": 
                    {
                        "application/json": 
                        {
                            "schema": 
                            {
                                "$ref": "#/components/schemas/io.rxt.ngpc.v1.OnDemandNodePool"
                            }
                        },
                        "application/yaml": 
                        {
                            "schema": 
                            {
                                "$ref": "#/components/schemas/io.rxt.ngpc.v1.OnDemandNodePool"
                            }
                        }
                    },
                    "required": true
                },
                "tags": 
                [
                    "OnDemandNodePool",
                    "OnDemandNodePool by name"
                ],
                "parameters": 
                [
                    {
                        "name": "namespace",
                        "description": "The namespace to which the OnDemandNodePool belongs to. Desired namespace value can be obtained by calling api:  <a href=\"/rackspace-spot-public-api#helper-getorganizationslist\" style=\"color: red;\">**list of organizations**</a>. ",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.OnDemandNodePool"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.OnDemandNodePool"
                                }
                            }
                        },
                        "description": "OnDemandNodePool creation request submitted successfully."
                    },
                    "201": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.OnDemandNodePool"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.OnDemandNodePool"
                                }
                            }
                        },
                        "description": "OnDemandNodePool created successfully."
                    },
                    "202": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.OnDemandNodePool"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.OnDemandNodePool"
                                }
                            }
                        },
                        "description": "OnDemandNodePool creation request accepted successfully."
                    },
                    "401": 
                    {
                        "description": "Unauthorized access."
                    }
                },
                "deprecated": false,
                "operationId": "createNgpcRxtIoV1NamespacedOnDemandNodePool",
                "summary": "Create ondemandnodepool",
                "description": "Create an OnDemandNodePool in the specified namespace.",
                "x-kubernetes-action": "post",
                "x-kubernetes-group-version-kind": 
                {
                    "group": "ngpc.rxt.io",
                    "kind": "OnDemandNodePool",
                    "version": "v1"
                },
                "x-codegen-request-body-name": "body"
            },
            "delete": 
            {
                "tags": 
                [
                    "OnDemandNodePool"
                ],
                "parameters": 
                [
                    {
                        "name": "namespace",
                        "description": "The namespace to which the OnDemandNodePool belongs to. Desired namespace value can be obtained by calling api:  <a href=\"/rackspace-spot-public-api#helper-getorganizationslist\" style=\"color: red;\">**list of organizations**</a>. ",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
                                }
                            }
                        },
                        "description": "OnDemandNodePools deleted successfully."
                    },
                    "401": 
                    {
                        "description": "Unauthorized access."
                    }
                },
                "deprecated": false,
                "operationId": "deleteNgpcRxtIoV1CollectionNamespacedOnDemandNodePool",
                "summary": "Delete all ondemandnodepools",
                "description": "Delete all OnDenamdNodePools from the specified namespace.",
                "x-kubernetes-action": "deletecollection",
                "x-kubernetes-group-version-kind": 
                {
                    "group": "ngpc.rxt.io",
                    "kind": "OnDemandNodePool",
                    "version": "v1"
                }
            }
        },
        "/apis/ngpc.rxt.io/v1/namespaces/{namespace}/ondemandnodepools/{name}": 
        {
            "get": 
            {
                "tags": 
                [
                    "OnDemandNodePool by name"
                ],
                "parameters": 
                [
                    {
                        "name": "name",
                        "description": "OnDemandNodePool name, must be a lowercase UUID",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "namespace",
                        "description": "The namespace to which the OnDemandNodePool belongs to. Desired namespace value can be obtained by calling api:  <a href=\"/rackspace-spot-public-api#helper-getorganizationslist\" style=\"color: red;\">**list of organizations**</a>. ",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.OnDemandNodePool"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.OnDemandNodePool"
                                }
                            }
                        },
                        "description": "Specific OnDemandNodePool obtained successfully."
                    },
                    "401": 
                    {
                        "description": "Unauthorized access."
                    }
                },
                "deprecated": false,
                "operationId": "readNgpcRxtIoV1NamespacedOnDemandNodePool",
                "summary": "Get ondemandnodepool by name",
                "description": "Retrieves the details of an OnDemandNodePool by its name from the specified namespace.",
                "x-kubernetes-action": "get",
                "x-kubernetes-group-version-kind": 
                {
                    "group": "ngpc.rxt.io",
                    "kind": "OnDemandNodePool",
                    "version": "v1"
                }
            },
            "delete": 
            {
                "tags": 
                [
                    "OnDemandNodePool by name"
                ],
                "parameters": 
                [
                    {
                        "name": "name",
                        "description": "OnDemandNodePool name, must be a lowercase UUID",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "namespace",
                        "description": "The namespace to which the OnDemandNodePool belongs to. Desired namespace value can be obtained by calling api:  <a href=\"/rackspace-spot-public-api#helper-getorganizationslist\" style=\"color: red;\">**list of organizations**</a>. ",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
                                }
                            }
                        },
                        "description": "Specific OnDemandNodePool deletion request submitted successfully."
                    },
                    "202": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
                                }
                            }
                        },
                        "description": "Specific OnDemandNodePool deletion request accepted successfully."
                    },
                    "401": 
                    {
                        "description": "Unauthorized access."
                    }
                },
                "deprecated": false,
                "operationId": "deleteNgpcRxtIoV1NamespacedOnDemandNodePool",
                "summary": "Delete ondemandnodepool by name",
                "description": "Delete an OnDemandNodePool by its name from the specified namespace.",
                "x-kubernetes-action": "delete",
                "x-kubernetes-group-version-kind": 
                {
                    "group": "ngpc.rxt.io",
                    "kind": "OnDemandNodePool",
                    "version": "v1"
                }
            },
            "patch": 
            {
                "requestBody": 
                {
                    "description": "This endpoint allows you to perform operations on the OnDemandNodePool configuration.\n  - `op`: Represents the operation to be performed. \n    - `add`: Adds a new field or value at the specified `path` in spec section of object.\n    - `replace`: Replaces the existing value at the specified `path` in spec section of object.\n  - `path`: Specifies the location within the object where the operation should be applied.\n    - For example, to add a new field, use **/spec/newField**.\n    - To replace an existing field, use **/spec/existingField**.\n  - `value`: Represents the data to be added or replaced at the specified path.",
                    "content": 
                    {
                        "application/json-patch+json": 
                        {
                            "schema": 
                            {
                                "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"
                            }
                        },
                        "application/merge-patch+json": 
                        {
                            "schema": 
                            {
                                "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"
                            }
                        },
                        "application/apply-patch+yaml": 
                        {
                            "schema": 
                            {
                                "$ref": "#/components/schemas/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"
                            }
                        }
                    },
                    "required": true
                },
                "tags": 
                [
                    "OnDemandNodePool by name"
                ],
                "parameters": 
                [
                    {
                        "name": "name",
                        "description": "OnDemandNodePool name, must be a lowercase UUID",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "namespace",
                        "description": "The namespace to which the OnDemandNodePool belongs to. Desired namespace value can be obtained by calling api:  <a href=\"/rackspace-spot-public-api#helper-getorganizationslist\" style=\"color: red;\">**list of organizations**</a>. ",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.OnDemandNodePool"
                                }
                            },
                            "application/yaml": 
                            {
                                "schema": 
                                {
                                    "$ref": "#/components/schemas/io.rxt.ngpc.v1.OnDemandNodePool"
                                }
                            }
                        },
                        "description": "OnDemandNodePool updated successfully."
                    },
                    "401": 
                    {
                        "description": "Unauthorized access."
                    }
                },
                "deprecated": false,
                "operationId": "patchNgpcRxtIoV1NamespacedOnDemandNodePool",
                "summary": "Edit ondemandnodepool by name",
                "description": "Update a OnDemandNodePool by its name from the specified namespace.",
                "x-kubernetes-action": "patch",
                "x-kubernetes-group-version-kind": 
                {
                    "group": "ngpc.rxt.io",
                    "kind": "OnDemandNodePool",
                    "version": "v1"
                },
                "x-codegen-request-body-name": "body"
            }
        },
        "/history/{server_class}": 
        {
            "get": 
            {
                "servers": 
                [
                    {
                        "url": "https://ngpc-prod-public-data.s3.us-east-2.amazonaws.com"
                    }
                ],
                "tags": 
                [
                    "Price History"
                ],
                "parameters": 
                [
                    {
                        "name": "server_class",
                        "description": "Server class name (e.g., `gp.vs1.medium-dfw`). Must be a valid name from available API: <a href=\"/rackspace-spot-public-api#getserverclass\" style=\"color: red;\">**ServerClasses**</a>.",
                        "schema": 
                        {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": 
                {
                    "200": 
                    {
                        "content": 
                        {
                            "application/json": 
                            {
                                "schema": 
                                {
                                    "required": 
                                    [
                                        "auction",
                                        "history"
                                    ],
                                    "type": "object",
                                    "properties": 
                                    {
                                        "auction": 
                                        {
[...]
